*.env

# Model weights are not included
*.h5
*.pkl
model/model_weights/
history

# All data is not included
*.csv
*.log
*.sqlite
data/database/
html_parser/
*.ipynb
*.db
*.xlsx
__pycache__

# Exceptions
!visualization.ipynb
!visualization_testing.ipynb